.container {
    width: 80%;
    margin: 0 auto;

}

.create-post{
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    justify-content: center;

}

#input {
    width:98%;
    height: 30px;
    justify-content: center;

}

#input::placeholder{
    padding: 10px;
}

.post-container {
    width: 100%;

    display: grid;
    grid-template-columns: auto;
    grid-gap: 20px;
}

.post-card {
    display: block;
    /* justify-content: space-between; */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 10px;
    margin: 10px;
}

.post-card h1 {
    margin-top: 20px;
    width: 100%;
    text-align: left;
}


a {
    text-decoration: none;
    color: inherit;
}

.card-link:hover .post-card {
    border: 1px solid #0077b6;
}
  
.card-link:hover .card-content h3 {
    color: #0077b6;
}
  
.card-link:hover .detail-btn {
    color: #0077b6;
}