#info {
    background-color: #ffff;
    padding-left: 100px;
    padding-bottom: 80px;
    padding-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
}

#submit-button {
    width: 70px;
    height: 50px;
}

#submit-button:hover {
    background-color: #5a0606;
    color: white
}