h1 {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

.create-post{
    margin: 5% auto;
    text-align: center;

}

#input {
    width: 80%;
    height: 30px;
}

#input::placeholder{
    padding: 10px;
}